


{% extends "main.html" %}

{% block title%}
Form
{% endblock%}

{% block extra_head %}
{% load static%}

       <link rel="stylesheet" href=" {% static 'css/privacy.css'%}"/>
    <link rel="stylesheet" href=" {% static 'css/form.css'%}"/>
    <link rel="stylesheet" href=" {% static 'css/input.css'%}"/>

{% endblock %}




{% block content%}

 <!-- form -->
<div class="form_container">
<form class="signup" method="post" action="{% url 'form'%}">{% csrf_token %}
  <h1 class="heading mb-3">Sign up</h1>
    <input class="effect-24" type="text" name="name" placeholder="Name" id="text"><br>
    <input class="effect-24" type="email" name="email" required placeholder="Email *" id="text"><br>
    <input class="effect-24" type="text" name="address" required placeholder="Address" id="text"><br>
    <!-- <input class="effect-24" type="text" name="city" placeholder="City" id="text"><br> -->
    <input class="effect-24" type="number" name="pin" placeholder="Pincode" pattern="[0-9]{8}" maxlength="8" id="text"><br>
   
    <input class="effect-24" type="number" name="phone" placeholder="Phone" id="text"><br>
    <textarea style="color: #fff !important; min-height: 30vh;" class="effect-24" type="text" name="comment" placeholder="Comment" id="text"></textarea><br>
    <div class="tacbox">
  <input class="check" id="checkbox" type="checkbox" />
  <label >By entering your email address below, you consent to receiving product updates with access to our latest collections, events and initiatives.More details on this are provided in our <a  style="text-decoration: none; color: #acacac;  text-decoration: underline; display: inline;" href="{% url 'privacy'%}">Privacy Policy</a>.</label>
</div>
    <div class="btn_cont">
    <button class="submit_btn" type="submit" style="color:aliceblue ; position: relative; align-items: center;">SUBMIT</button>
      </div>
    
</form>


<!-- input -->


<!-- input ends -->
</div>
{% endblock %}


  {% block script %}
      <script src="{% static 'js/form.js' %}"></script>

      {% endblock %}
